<style>
    .message-content {
        font-family: Arial, Helvetica, sans-serif;
        max-width: 600px;
        font-size: 18px;
        line-height: 24px;
    }
</style>
<div class="message-content">
    <p>Olá {{name}},</p>
    <br/>
    <p>Recebemos um solicitção de alteração de senha para o seu usuário.</p>
    <p>se foi realmente voce quem solicitou, clique no lik abaixo para renovar a senha:</p>
    <p><a href="{{link}}">Resetar minha senha</a></p>
    <p>Caso não tenha realizado a solicitação, descarte esse email.</p>
    <br>
    <p>Obrigado,</p>
    <p>Equipe APIVENDAS</p>
</div>